<div class="container">
    <div class="row">
        <div class="py-5 bg-body-tertiary rounded shadow mt-3">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let color of colors">
                        <td>{{ color.id }}</td>
                        <td>{{ color.name }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>