:root {
    --lightorange:#FDA403;
    --darkorange:#E8751A;
    --green:#898121;
    --beige:#E5C287;
}

.navbar-main{
    background-color: #070F2B;
}

.nav-link{
    color:#FBF6EE;
    font-size: 18px;
    font-weight: 500;
    margin-right: 20px;
}

.user-badge{
    height: 36px;
    width: 142px;
    font-size: 14px;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-weight:600 ;
    text-transform: capitalize;
}