<div class="container">
    <div *ngFor="let cardetail of cardetails" class="row">
        <h3 class="text-center">{{ cardetail.carName }}</h3>
        <div class="col-md-8">
            <div class="container d-flex justify-content-center p-3 m-3" *ngFor="let carImage of carImages;">
                <img [src]="getImagePath(cardetail)" class="img-fluid border border-black" alt="car image" />
            </div>
        </div>
        <div class="col-md-4 d-flex">
            <div class="card p-3 m-3 bg-light h-76 align-self-center">
                <div class="card-body">
                    <h6 class="card-text">Brand Name : {{ cardetail.brandName }}</h6>
                    <h6 class="card-text">Color Name : {{ cardetail.colorName }}</h6>
                    <h6 class="card-text">Daily Price : {{cardetail.dailyPrice}}</h6>
                </div>
                <div class="container">
                    <div class="form-group">
                        <label for="rentDate">Kiralama Tarihi:</label>
                        <input type="date" class="form-control" [(ngModel)]="rentDate"  name="rentDate" />
                    </div>
                    <div class="form-group">
                        <label for="returnDate">Dönüş Tarihi:</label>
                        <input type="date" class="form-control" [(ngModel)]="returnDate"  name="returnDate" />
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="container d-flex justify-content-center">
            <button (click)="checkRentalDates()" type="submit" routerLink="" class="btn btn-success w-75">Kirala</button>
        </div>
    </div>
</div>