<div class="content">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let brand of brands">
          <td>{{ brand.id }}</td>
          <td>{{ brand.name }}</td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center py-3">
      <button class="btn btn-primary w-50" routerLink="/brands/add">Add Brand</button>
  </div>
  </div>
</div>