<h1 class="text-center display-4 main-title">Daily Cars</h1>
<div class="mb-3">
    <input type="text" [(ngModel)]="filterText" class="form-control rounded-0 car-form" id="filterText"
        placeholder="Search Car">
</div>

<div class="container p-0 my-3">
    <div class="row">
        <app-car-filter></app-car-filter>
    </div>
</div>

<div class="album py-5 p-3 mb-5 bg-body-tertiary rounded-0 shadow">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-3">
            <div *ngFor="let cardetail of cardetails | filterPipe:filterText" class="col">
                <div class="card shadow-sm">
                    <img style="height: 300px; object-fit: cover;" class="card-img-top" [src]="getImagePath(cardetail)"
                        alt="">
                    <div class="card-body">
                        <h6 style="text-transform: capitalize;" class="card-title text-center fw-bold mb-4">{{
                            cardetail.carName}}</h6>
                        <p class="card-text"><b>Brand Name:</b> {{ cardetail.brandName }} </p>
                        <p class="card-text"><b>Color Name:</b> {{ cardetail.colorName }} </p>
                        <div class="d-flex justify-content-center align-items-center p-3">
                            <button routerLink="/cardetail/{{cardetail.id}}" type="button"
                                class="btn btn-primary rounded-0 border">Car
                                Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>